#cont{
width:100%;
    height:100%;
 background-image:url(images/mybg.jpg);
background-size:cover;
background-repeat:no-repeat;
background-position:center;
background-attachment: fixed;
}
#wrap{
background-color: rgba(0,0,0,0.8);
    color: black;
    text-align: center;
    font-size: 30px;
    
}