#intro{
font-size: 20px;
	padding: 260px 0px 30px 0px;
 text-align: center;
    color: white;
  
       background-color: rgba(53, 64, 48, 0.8); 
color: rgba(53, 64, 48, 0.7);
display: inline;
    
}
h3{
color: white;
}

#bg{
height:100%;
width:100%;
    background-color: black;
/*background-image:url(images/africa.jpg);*/
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}

#btn{
text-align: center;
}
li{
    background-color: rgba(53, 64, 48, 0.5); 
color: rgba(53, 64, 48, 0.5);
display: inline;
float: right;
}
a{
display: block;
width: 150px;
    font-size: 30px
}
li:hover{
background-color: white;
}