#intro{
font-size: 20px;
text-align: center;
/* background-color: rgba(55, 69, 80, 0.6); ; */
/*color: rgba(53, 64, 48, 0.7);*/
display: inline;
color: white;
 
    }
#align{
    margin-left: auto; 
    margin-right: auto;
}

/*
#border{
  width:300px;
    border:3px solid #FF3C26;
padding: 10px;
 margin: 0px auto;
}
*/

#bg{
height:100%;
width:100%;
position: relative;
background-image:url(images/africa.jpg);
background-size:cover;
background-repeat:no-repeat;
background-position:center;
background-attachment: fixed;
}

#btn{
float: right;
}

li{
background-color: rgba(53, 64, 48, 0.2); 
display: inline;
float: right;
}

a{
     color:white;
    padding-right: 12px;
padding-left: 12px;
width: 150px;
    font-size: 30px;
}
li:hover{
background-color: black;
}